body{
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    padding: 2rem;
    font-size: 24px;
    color: white;
    border-radius: 5px;
    border-style: none;
    background: #2986ab;
    background: linear-gradient(90deg,rgba(41, 134, 171, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

p{
    padding: 2rem;
    font-size: 24px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border-style: none;
    background: #2986ab;
    background: linear-gradient(90deg,rgba(41, 134, 171, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%); 
}